@page "/"

@using Microsoft.FluentUI.AspNetCore.Components
@using Icons = Microsoft.FluentUI.AspNetCore.Components.Icons

<div style="height: 500px;">
    <FluentMainLayout NavMenuTitle="Navigation menu">
        <Header><h3>Fluent UI Components</h3></Header>
        <SubHeader><p>A subheader here</p></SubHeader>
        <Body>
            <FluentBodyContent>
                <p>
                    income
                    <FluentNumberField @bind-Value="@income">Float</FluentNumberField>
                    <br />
                    Example float: @income
                    <br />
                </p>
                <p>
                    income
                    <FluentNumberField @bind-Value="@expense">Float</FluentNumberField>
                    <br />
                    Example float: @expense
                    <br />
                </p>
                <p>
                    income
                    <FluentNumberField @bind-Value="@sum">Float</FluentNumberField>
                    <br />
                    Example float: @sum
                    <br />
                </p>
                <p>
                    <FluentButton Appearance="Appearance.Accent" OnClick="@OnChangeIncome">Sum</FluentButton>
                </p>
            </FluentBodyContent>
        </Body>
        <NavMenuContent>
            <FluentNavLink Href="/" Text="Home">Home</FluentNavLink>
        </NavMenuContent>
    </FluentMainLayout>
</div>

@code {
    bool ShowHeader = true;
    bool ShowNavMenu = true;
    bool ShowBodyContent = true;
    bool ShowFooter = true;

    float? income, expense, sum;

	private void OnChangeIncome()
	{
		// income = value;
		sum = income - expense;
	}
}